.text-colors {
    color: rgb(250, 200, 80);
}

.button1 {
    background-color: rgb(250, 200, 80);

}

.hero-contents {
    margin-top: 10rem;
}

.containers {
    margin-top: 15rem;
}


.boru {
    color: rgb(250, 200, 80) !important;

}

.iconto {
    color: rgb(250, 200, 80) !important;

}